---
title: Home
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inkshape Homepage</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <main>
      <h2>If you see this dangerous man,</h2>
      <h1>call Police now!</h1>
      <a href="https://imgbb.com/"><img src="https://i.ibb.co/SfFvFzF/amigo.jpg" alt="amigo" border="0"></a>
    </main>
  </body>
</html>